* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

body, html {
  padding: 3px 3px 3px 3px;

  background-color: #D8DBE2;

  font-family: Verdana, sans-serif;
  font-size: 11pt;
  text-align: center;
}

div.main_page {
  position: relative;
  display: table;

  width: 800px;

  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 0px 0px 0px 0px;

  border-width: 2px;
  border-color: #212738;
  border-style: solid;

  background-color: #FFFFFF;

  text-align: center;
}

div.page_header {
  height: 99px;
  width: 100%;

  background-color: #F5F6F7;
}

div.page_header span {
  margin: 0px 0px 0px 0px;

  font-size: 180%;
  font-weight: bold;
}

div.section_header {
  padding: 3px 6px 3px 3px;

  background-color: #8E9CB2;

  color: #FFFFFF;
  font-weight: bold;
  font-size: 112%;
  text-align: center;
}

.floating_element {
  position: relative;
  float: center;
}

div.a {
    width: 150px;
    height: 80px;
    background-color: yellow;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);
}
  
  div.b {
    width: 150px;
    height: 80px;
    background-color: yellow;
    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(20deg);
}
  
  div.c {
    width: 150px;
    height: 80px;
    background-color: yellow;
    -ms-transform: scaleY(1.5); /* IE 9 */
    transform: scaleY(1.5);
}